.nav-title {
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

.nav-title:hover {
    color: orange;
}

.nav-items {
    font-size: 20px;
    font-weight: 10px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.nav-items:hover {
    color: orange;
}

.userIcon {
    color: white;
}

.category-list {
    background-color: rgb(14, 0, 92);
    border: 1px solid rgb(151, 40, 255);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 15px 0px;
}

.category-list:hover {
    background-color: rgb(8, 1, 53);
}

.category-list2 {
    text-decoration: none;
    color: white;
}

.category-list2:hover {
    color: orange;
}

.bg {
    background-color: rgb(2, 0, 26);
    padding-bottom: 10%;
}

.login-container {
    margin: 0px 40px;
    padding-top: 30px;
}

.background {
    background-color: rgb(17, 7, 26);
    padding-bottom: 10%;
}

.loginIcons {
    color: white;
    margin-left: 10px;
}

.mentor-img {
    width: 50px;
    border-radius: 50%;
}

.fqa {
    background-color: rgb(12, 1, 31);
    padding-bottom: 10%;
    padding-top: 80px;
}

.fqa-heading {
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 15px;
    text-align: center;
}

.footer {
    background-color: black;
    color: white;
    padding-bottom: 5%;
    padding-top: 20px;
    border-top: 1px solid antiquewhite;
}

.contact {
    text-decoration: none;
    color: azure;
}

.contact:hover {
    color: rgb(149, 169, 255);
}